<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Spotify EasyAuth</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Let's authorize Spotify
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Search for tracks on Spotify:</p>
      <form id="authorize-scopes">
        <div>
          <input type="checkbox" name="scope" value="playlist-read-private"><label>playlist-read-private</label>
        <input type="checkbox" name="scope" value="playlist-read-collaborative"><label>playlist-read-collaborative</label>
        <input type="checkbox" name="scope" value="playlist-modify-public"><label>playlist-modify-public</label>
        <input type="checkbox" name="scope" value="playlist-modify-private"><label>playlist-modify-private</label>
        </div>
        <input type="checkbox" name="scope" value="streaming"><label>streaming</label>
        <div>
          <input type="checkbox" name="scope" value="user-follow-modify"><label>user-follow-modify</label>
          <input type="checkbox" name="scope" value="user-follow-read"><label>user-follow-read</label>
          <input type="checkbox" name="scope" value="user-library-read"><label>user-library-read</label>
          <input type="checkbox" name="scope" value="user-library-modify"><label>user-library-modify</label>
        </div>
        
        

user-read-private
user-read-birthdate
user-read-email
user-top-read
        <button type="submit"><a href="/authorize">GO</a></button>
      </form>
      <section class="results">
        <ul id="results">
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
