<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Quicksearch</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Spotify Quicksearch
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Search for tracks on Spotify:</p>
      <form>
        <input required type="text" maxlength="100" placeholder="Search query">
        <input required type="radio" name="context" value="artist"><label>Artist name</label>
        <input type="radio" name="context" value="track"><label>Track name</label>
        <input type="radio" name="context" value="all"><label>All</label>
        <button type="submit"><a href="/authorize">GO</a></button>
      </form>
      <section class="results">
        <ul id="results">
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
