.cen{
  text-align: center;
}
.button {
  font-size: 30px;
  border-radius: 3px;
  background-color: #d3d3d3;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 1em;
  width:50vw;
  line-height: 1.5em;
  text-align:center;
  text-decoration: none;
}

.button:hover {
    background-color: #ff0
}

.button:active {
    box-shadow: none
}
html {
            background-color: black;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            margin: 0
        }

        #canvas-layer-0 {
            z-index: -3;
            position: absolute;
            top: 0;
        }

        #canvas-layer-1 {
            z-index: -2;
            position: absolute;
            top: 0
        }

        #canvas-layer-2 {
            z-index: -1;
            position: absolute;
            top: 0
        }

        a {
            color: white
        }
        p {
          text-align: center;
        }
        h1 {
            text-align: center;
            margin-top: 2em;
            padding:10vh;
            text-align: center;
        }
        .button{
          text-align: center;
          margin: auto;
          margin-top:10vh;
          height:
        }