/* styles */
/* called by your view template */

#authorize-scopes {
  width: 100%;
  max-width: none;
}

input, label {
  display: inline !important;
  width: 1% !important;
}
button{
  width: 50vw;
  height 10vh;
}